In [1]:
from ydata_profiling import ProfileReport
import pandas as pd

In [2]:
raw = pd.read_csv(
    "20231201-103525_nfi_dataset_raw copy.csv",
    index_col=[0],
    low_memory=False,
)

In [3]:
display(raw.head(10))
display(raw.describe())
display(raw.info(verbose=True))

,idp,site_total_ba_at_v1,site_total_ba_at_v2,site_ba_prc_dead_at_v1,site_ba_prc_dead_at_v2,site_ba_prc_cut_at_v2,site_ba_prc_rec_at_v2,n_species_nfi,top1_species,top1_species_ba_1_mean,...,obsriv2,typriv,distriv,denivriv,lign2,lign1,herb,mousse,obsveget,obsdate
1,23,9.108369,9.443877,0.0,0.000000,0.108795,0.891205,2.0,2.0,1.304693,...,NaN,NaN,NaN,NaN,9.0,3.0,4.0,NaN,NaN,NaN
2,23,9.108369,9.443877,0.0,0.000000,0.108795,0.891205,2.0,2.0,1.304693,...,NaN,NaN,NaN,NaN,9.0,3.0,4.0,NaN,NaN,NaN
3,23,9.108369,9.443877,0.0,0.000000,0.108795,0.891205,2.0,2.0,1.304693,...,NaN,NaN,NaN,NaN,9.0,3.0,4.0,NaN,NaN,NaN
4,23,9.108369,9.443877,0.0,0.000000,0.108795,0.891205,2.0,2.0,1.304693,...,NaN,NaN,NaN,NaN,9.0,3.0,4.0,NaN,NaN,NaN
5,23,9.108369,9.443877,0.0,0.000000,0.108795,0.891205,2.0,2.0,1.304693,...,NaN,NaN,NaN,NaN,9.0,3.0,4.0,NaN,NaN,NaN
6,23,9.108369,9.443877,0.0,0.000000,0.108795,0.891205,2.0,2.0,1.304693,...,NaN,NaN,NaN,NaN,9.0,3.0,4.0,NaN,NaN,NaN
7,23,9.108369,9.443877,0.0,0.000000,0.108795,0.891205,2.0,2.0,1.304693,...,NaN,NaN,NaN,NaN,9.0,3.0,4.0,NaN,NaN,NaN
8,23,9.108369,9.443877,0.0,0.000000,0.108795,0.891205,2.0,2.0,1.304693,...,NaN,NaN,NaN,NaN,9.0,3.0,4.0,NaN,NaN,NaN
9,23,9.108369,9.443877,0.0,0.000000,0.108795,0.891205,2.0,2.0,1.304693,...,NaN,NaN,NaN,NaN,9.0,3.0,4.0,NaN,NaN,NaN
10,41,37.635146,37.955904,0.0,0.012453,0.904859,0.082689,2.0,54.0,6.037121,...,NaN,NaN,NaN,NaN,8.0,6.0,3.0,NaN,NaN,NaN

,idp,site_total_ba_at_v1,site_total_ba_at_v2,site_ba_prc_dead_at_v1,site_ba_prc_dead_at_v2,site_ba_prc_cut_at_v2,site_ba_prc_rec_at_v2,n_species_nfi,top1_species,top1_species_ba_1_mean,...,obsriv2,typriv,distriv,denivriv,lign2,lign1,herb,mousse,obsveget,obsdate
count,1.318400e+06,622998.000000,622998.000000,622998.000000,620883.000000,620883.000000,620883.000000,622998.000000,622998.000000,622998.000000,...,37805.000000,54614.000000,393965.000000,92396.000000,1.303471e+06,1.303471e+06,1.303576e+06,924912.000000,437944.000000,386744.000000
mean,8.154183e+05,50.634765,52.152796,0.035114,0.023272,0.072816,0.903912,2.943679,23.971807,5.132418,...,3.537654,3.633720,0.423236,0.240616,9.073711e+00,5.218869e+00,4.561790e+00,1.672952,0.966320,0.119661
std,4.735046e+05,39.351285,39.684644,0.085465,0.067564,0.197078,0.202528,1.460316,24.001949,5.153117,...,1.243921,1.179564,0.868871,0.577840,1.473559e+00,3.090044e+00,3.144284e+00,2.353896,1.816907,0.381374
min,1.900000e+01,0.233444,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2.000000,0.013332,...,1.000000,1.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000
25%,4.278580e+05,20.886349,21.960759,0.000000,0.000000,0.000000,0.913066,2.000000,3.000000,1.500486,...,3.000000,4.000000,0.000000,0.000000,9.000000e+00,3.000000e+00,2.000000e+00,0.000000,0.000000,0.000000
50%,8.049150e+05,41.326479,42.780811,0.000000,0.000000,0.000000,0.992052,3.000000,10.000000,3.791799,...,4.000000,4.000000,0.000000,0.000000,1.000000e+01,5.000000e+00,4.000000e+00,1.000000,0.000000,0.000000
75%,1.211065e+06,70.703948,72.528540,0.030717,0.015227,0.000000,1.000000,4.000000,52.000000,7.222940,...,4.000000,4.000000,0.000000,0.000000,1.000000e+01,8.000000e+00,7.000000e+00,2.000000,1.000000,0.000000
max,1.654936e+06,459.173419,476.582429,1.000000,1.000000,1.000000,1.000000,11.000000,332.000000,151.475980,...,6.000000,6.000000,3.000000,2.000000,1.000000e+01,1.000000e+01,1.000000e+01,10.000000,6.000000,3.000000

<class 'pandas.core.frame.DataFrame'>
Index: 1318400 entries, 1 to 1318400
Data columns (total 272 columns):
 #    Column                          Dtype
---   ------                          -----
 0    idp                             int64
 1    site_total_ba_at_v1             float64
 2    site_total_ba_at_v2             float64
 3    site_ba_prc_dead_at_v1          float64
 4    site_ba_prc_dead_at_v2          float64
 5    site_ba_prc_cut_at_v2           float64
 6    site_ba_prc_rec_at_v2           float64
 7    n_species_nfi                   float64
 8    top1_species                    float64
 9    top1_species_ba_1_mean          float64
 10   top1_species_ba_1_sd            float64
 11   top1_species_age13_mean         float64
 12   top1_species_age13_sd           float64
 13   top1_species_ir5_mean           float64
 14   top1_species_ir5_sd             float64
 15   top1_species_v_mean             float64
 16   top1_species_v_sd               float64
 17   top1_species_htot_mean          float64
 18   top1_species_htot_sd            float64
 19   top2_species                    object
 20   top2_species_ba_1_mean          float64
 21   top2_species_ba_1_sd            float64
 22   top2_species_age13_mean         float64
 23   top2_species_age13_sd           float64
 24   top2_species_ir5_mean           float64
 25   top2_species_ir5_sd             float64
 26   top2_species_v_mean             float64
 27   top2_species_v_sd               float64
 28   top2_species_htot_mean          float64
 29   top2_species_htot_sd            float64
 30   top3_species                    object
 31   top3_species_ba_1_mean          float64
 32   top3_species_ba_1_sd            float64
 33   top3_species_age13_mean         float64
 34   top3_species_age13_sd           float64
 35   top3_species_ir5_mean           float64
 36   top3_species_ir5_sd             float64
 37   top3_species_v_mean             float64
 38   top3_species_v_sd               float64
 39   top3_species_htot_mean          float64
 40   top3_species_htot_sd            float64
 41   dom_nr1_tree_class_fct          object
 42   dom_nr1_tree_class_ba_abs       float64
 43   dom_nr1_tree_class_ba_prc       float64
 44   dom_nr2_tree_class_fct          object
 45   dom_nr2_tree_class_ba_abs       float64
 46   dom_nr2_tree_class_ba_prc       float64
 47   dom_nr3_tree_class_fct          object
 48   dom_nr3_tree_class_ba_abs       float64
 49   dom_nr3_tree_class_ba_prc       float64
 50   dom_rest_tree_class_fct         object
 51   dom_rest_tree_class_ba_abs      float64
 52   dom_rest_tree_class_ba_prc      float64
 53   ntrees_1                        float64
 54   ntrees_2                        float64
 55   perc_trees_burn                 float64
 56   perc_trees_game                 float64
 57   perc_trees_footdmg              float64
 58   perc_trees_rotcore              float64
 59   perc_trees_frost_v1             float64
 60   perc_trees_frost_v2             float64
 61   perc_trees_mistletoe_v1         float64
 62   perc_trees_mistletoe_v2         float64
 63   perc_trees_firrust_v1           float64
 64   perc_trees_firrust_v2           float64
 65   a                               int64
 66   tree_id                         object
 67   visit_1                         int64
 68   visit_2                         float64
 69   revisit_state                   object
 70   hrb                             float64
 71   campagne_1                      int64
 72   campagne_2                      float64
 73   visite_1                        int64
 74   visite_2                        float64
 75   c13_1                           float64
 76   c13_2                           float64
 77   mortb_1                         float64
 78   mortb_2                         float64
 79   sfdorge_1                       float64
 80   sfdorge_2                       float64
 81   sfgeliv_1                       float64
 82   sfgeliv_2                       float64
 83   sfgui_1                         float64
 84   sfgui_2                         float64
 85   veget                           object
 86   q1                              float64
 87   q2                              float64
 88   q3                              float64
 89   age13                           float64
 90   age                             float64
 91   c0                              float64
 92   htot                            float64
 93   hdec                            float64
 94   ddec                            float64
 95   lfsd                            float64
 96   v                               float64
 97   w                               float64
 98   r                               float64
 99   ir5                             float64
 100  ir1                             float64
 101  espar                           object
 102  datemort                        float64
 103  ori                             float64
 104  tige                            float64
 105  forme                           float64
 106  tetard                          float64
 107  cible                           float64
 108  lib                             float64
 109  simplif                         float64
 110  acci                            float64
 111  clon                            object
 112  mes_c13                         float64
 113  decoupe                         float64
 114  sfcoeur                         float64
 115  sfpied                          float64
 116  deggib                          float64
 117  veget5                          object
 118  qualite                         object
 119  lon_fr                          float64
 120  lat_fr                          float64
 121  dep                             object
 122  ser                             object
 123  dpyr                            float64
 124  anpyr                           float64
 125  pbuis                           float64
 126  lat                             float64
 127  lon                             float64
 128  incid_1                         float64
 129  incid_2                         float64
 130  nincid_1                        float64
 131  nincid_2                        float64
 132  tpespar1_1                      object
 133  tpespar1_2                      object
 134  tpespar2_1                      object
 135  tpespar2_2                      object
 136  bplant_1                        float64
 137  bplant_2                        float64
 138  iplant_1                        float64
 139  iplant_2                        float64
 140  videpeuplier_1                  float64
 141  videpeuplier_2                  float64
 142  csa_1                           float64
 143  csa_2                           float64
 144  bois_1                          float64
 145  bois_2                          float64
 146  peupnr_1                        float64
 147  peupnr_2                        float64
 148  utip_1                          object
 149  utip_2                          object
 150  autut_1                         object
 151  autut_2                         object
 152  tform_1                         float64
 153  tform_2                         float64
 154  dc_1                            float64
 155  dc_2                            float64
 156  gest                            float64
 157  elag                            float64
 158  dist                            float64
 159  acces                           float64
 160  iti                             float64
 161  asperite                        float64
 162  pentexp                         float64
 163  portn                           float64
 164  portance                        float64
 165  orniere                         float64
 166  dcespar1                        object
 167  dcespar2                        object
 168  tplant                          object
 169  videplant                       object
 170  entp                            float64
 171  tcat10                          float64
 172  uta1                            object
 173  uta2                            object
 174  plisi                           float64
 175  cslisi                          object
 176  elisi                           float64
 177  andain                          float64
 178  bord                            float64
 179  integr                          object
 180  tm2                             float64
 181  sfo                             float64
 182  cam                             float64
 183  prelev5                         float64
 184  def5                            float64
 185  instp5                          object
 186  nlisi5                          float64
 187  sver                            object
 188  census_interval                 object
 189  tree_state_1                    object
 190  alive_but_injured_1             object
 191  tree_state_2                    object
 192  alive_but_injured_2             object
 193  mode_of_death                   object
 194  tree_state_change               object
 195  tree_class                      object
 196  species_lat                     object
 197  genus_lat                       object
 198  family_lat                      object
 199  order_lat                       object
 200  espar_red                       float64
 201  age_class                       object
 202  height_class                    object
 203  shadow_growth                   object
 204  c13_change_abs_yr               float64
 205  c13_change_perc_yr              float64
 206  dbh_1                           float64
 207  dbh_2                           float64
 208  dbh_change_abs_yr               float64
 209  dbh_change_perc_yr              float64
 210  ba_1                            float64
 211  ba_2                            float64
 212  ba_change_abs_yr                float64
 213  ba_change_perc_yr               float64
 214  avg_growth_height_meter_per_yr  float64
 215  avg_growth_ba_per_year          float64
 216  land_use                        object
 217  land_use_change                 object
 218  cover_change                    object
 219  human_activity                  object
 220  human_activity_var              object
 221  gre                             object
 222  strate                          object
 223  tca                             float64
 224  tcl                             float64
 225  p1525                           float64
 226  p7ares                          float64
 227  dateeco                         object
 228  topo                            float64
 229  obstopo                         float64
 230  expo                            float64
 231  msud                            float64
 232  masque                          float64
 233  pent2                           float64
 234  obschemin                       float64
 235  humus                           float64
 236  oln                             float64
 237  olt                             float64
 238  ofr                             float64
 239  olv                             float64
 240  oh                              float64
 241  tsol                            float64
 242  prof1                           float64
 243  prof2                           float64
 244  obsprof                         float64
 245  text1                           float64
 246  text2                           object
 247  obspedo                         object
 248  roche                           float64
 249  obsroc                          float64
 250  affroc                          object
 251  cai40                           object
 252  cailloux                        object
 253  typcai                          float64
 254  afpla                           float64
 255  pgley                           object
 256  pox                             object
 257  ppseudo                         object
 258  obshydr                         float64
 259  pcalc                           object
 260  pcalf                           object
 261  obsriv                          float64
 262  obsriv2                         float64
 263  typriv                          float64
 264  distriv                         float64
 265  denivriv                        float64
 266  lign2                           float64
 267  lign1                           float64
 268  herb                            float64
 269  mousse                          float64
 270  obsveget                        float64
 271  obsdate                         float64
dtypes: float64(201), int64(5), object(66)
memory usage: 2.7+ GB

None

In [4]:
all_tree_lvl_vars = [
    # Adding campagne_1 for filtering subset
    "campagne_1",
    # From NFI data
    "acci",
    "cible",
    "clon",
    "decoupe",
    "deggib",
    "espar",
    "forme",
    "ori",
    "qualite",
    "simplif",
    "tetard",
    "tige",
    "veget",
    "veget5",
    "a",
    "datemort",
    "lib",
    "age",
    "age13",
    "c0",
    "c13",
    "ddec",
    "hdec",
    "hrb",
    "htot",
    "ir1",
    "ir5",
    "lfsd",
    "mes_c13",
    "q1",
    "q2",
    "q3",
    "r",
    "v",
    "w",
    "mortb",
    "sfcoeur",
    "sfpied",
    "sfdorge",
    "sfgeliv",
    "sfgui",
    "espar_bm",
    "frepli",
    "dbm",
    "decomp",
    "espar_c",
    "p1525",
    "p7ares",
    "strate",
    "tca",
    "tcl",
    # From derivatives
    "alive_but_injured_1",
    "alive_but_injured_2",
    "family_lat",
    "genus_lat",
    "mode_of_death",
    "order_lat",
    "revisit_state",
    "shadow_growth",
    "species_lat",
    "tree_class",
    "tree_id",
    "tree_state_1",
    "tree_state_2",
    "tree_state_change",
    "espar_red",
    "avg_growth_ba_per_year",
    "avg_growth_height_meter_per_yr",
    "ba_1",
    "ba_2",
    "ba_change_abs_yr",
    "ba_change_perc_yr",
    "c13_change_abs_yr",
    "c13_change_perc_yr",
    "dbh_1",
    "dbh_2",
    "dbh_change_abs_yr",
    "dbh_change_perc_yr",
    "visit_1",
    "visit_2",
    "age_class",
    "height_class",
    "census_interval",
]

# Attach suffixes to column names
suffix_1 = [suffix + "_1" for suffix in all_tree_lvl_vars]
suffix_2 = [suffix + "_2" for suffix in all_tree_lvl_vars]

# Create a list of all tree level variables
all_tree_lvl_vars = all_tree_lvl_vars + suffix_1 + suffix_2

In [5]:
raw_tree = raw.copy()

for var in raw_tree.columns:
    if var in ["idp", "campagne_1"]:
        next
    if var not in all_tree_lvl_vars:
        raw_tree = raw_tree.drop(columns=[var], errors="ignore")

In [6]:
raw_loc = raw.copy()

for var in raw_loc.columns:
    if var in ["idp", "campagne_1"]:
        continue
    if var in all_tree_lvl_vars:
        raw_loc = raw_loc.drop(columns=[var], errors="ignore")

raw_loc = raw_loc.drop_duplicates()

In [7]:
print(f"All raw data: {raw.shape}")
print(f"Tree-level data: {raw_tree.shape}")
print(f"Location-level data: {raw_loc.shape}")
print(f"Number of unique locations: {raw['idp'].nunique()}")

All raw data: (1318400, 272)
Tree-level data: (1318400, 84)
Location-level data: (104554, 189)
Number of unique locations: 102924

In [10]:
grouped = raw_loc.groupby("idp").size().reset_index(name="count")
filtered = grouped[grouped["count"] > 1]
filtered

          idp  count
20        172      2
22        179      2
82        605      2
102       780      2
118       894      2
...       ...    ...
32389  478510      2
32392  478545      2
32491  479819      2
32524  480200      2
32540  480492      2

[1630 rows x 2 columns]

In [13]:
test = raw_loc[raw_loc["idp"] == 478545]
counter = 0
for col in test.columns:
    if test[col].nunique() > 1:
        counter += 1
        print(f"{test[col].nunique()} unique values in \t {col}")

if counter == 0:
    print("No duplicates in location level data.")

No duplicates in location level data.

In [18]:
ProfileReport(raw_tree, title="Tree-level data", minimal=True, dark_mode=True).to_file(
    "report_tree_level_raw_data.html"
)
ProfileReport(
    raw_loc, title="Location-level data", minimal=True, dark_mode=True
).to_file("report_location_level_raw_data.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [29]:
raw_tree_subset = raw_tree.copy().query("campagne_1 > 2009 and campagne_1 <= 2016")
raw_loc_subset = raw_loc.copy().query("campagne_1 > 2009 and campagne_1 <= 2016")

ProfileReport(
    raw_tree_subset,
    title="Tree-level data SUBSET FOR CAMPAGNE 2010-2016",
    minimal=True,
    dark_mode=True,
).to_file("report_tree_level_raw_data_CAMPAGNE_SUBSET.html")
ProfileReport(
    raw_loc_subset,
    title="Location-level data SUBSET FOR CAMPAGNE 2010-2016",
    minimal=True,
    dark_mode=True,
).to_file("report_location_level_raw_data_CAMPAGNE_SUBSET.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/Users/pascal/repos/padasch/ifn_analysis/ifna-venv/lib/python3.10/site-packages/numpy/core/_methods.py:206: RuntimeWarning: Degrees of freedom <= 0 for slice
  ret = _var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/Users/pascal/repos/padasch/ifn_analysis/ifna-venv/lib/python3.10/site-packages/numpy/core/_methods.py:198: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)
/Users/pascal/repos/padasch/ifn_analysis/ifna-venv/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3787: RuntimeWarning: Degrees of freedom <= 0 for slice
  return _methods._var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/Users/pascal/repos/padasch/ifn_analysis/ifna-venv/lib/python3.10/site-packages/numpy/core/_methods.py:198: RuntimeWarning: invalid value encountered in scalar divide
  ret = ret.dtype.type(ret / rcount)

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [14]:
raw_loc_subset = raw_loc.copy().query("campagne_1 > 2009 and campagne_1 <= 2016")

In [28]:
idp_mort[1]

702597

In [55]:
display(
    round(
        raw_loc.query("idp in @idp_mort")[["dc_1"]]
        .value_counts(dropna=False)
        .sort_index()
        / len(idp_mort)
        * 100,
        2,
    )
)
round(
    raw_loc.query("idp in @idp_mort")[["dc_2"]].value_counts(dropna=False).sort_index()
    / len(idp_mort)
    * 100,
    2,
)

dc_1
0.0     81.48
1.0      0.08
2.0      0.17
3.0      1.85
4.0      2.71
6.0      0.07
7.0      0.62
8.0      8.84
9.0      4.17
Name: count, dtype: float64

dc_2
0.0     79.27
1.0      0.33
2.0      1.12
3.0      8.51
4.0     10.77
Name: count, dtype: float64

In [56]:
display(
    round(
        raw_loc[["dc_1"]].value_counts(dropna=False).sort_index()
        / raw_loc.shape[0]
        * 100,
        2,
    )
)
round(
    raw_loc[["dc_2"]].value_counts(dropna=False).sort_index() / raw_loc.shape[0] * 100,
    2,
)

dc_1
0.0     57.27
1.0      0.13
2.0      0.26
3.0      2.59
4.0      3.95
6.0      0.08
7.0      0.34
8.0      4.68
9.0      1.86
NaN     28.83
Name: count, dtype: float64

dc_2
0.0     30.55
1.0      1.11
2.0      0.53
3.0      3.32
4.0      4.17
NaN     60.32
Name: count, dtype: float64

In [59]:
display(
    round(
        raw_loc[["tree"]].value_counts(dropna=False).sort_index()
        / raw_loc.shape[0]
        * 100,
        2,
    )
)

KeyError: "None of [Index(['tree_class_change'], dtype='object')] are in the [columns]"

In [58]:
raw_loc["prelev5"].value_counts(dropna=False).sort_index() / raw_loc.shape[0]

prelev5
0.0    0.000402
1.0    0.043193
2.0    0.000029
NaN    0.956377
Name: count, dtype: float64

In [50]:
raw[["tree_id", "tree_state_change", "dc_1", "dc_2"]].dropna().query("dc_1 != dc_2")

          tree_id tree_state_change  dc_1  dc_2
55742   702597_13        alive_dead   0.0   4.0
55743    702597_3         alive_cut   0.0   4.0
55744    702597_1       alive_alive   0.0   4.0
55745    702597_2       alive_alive   0.0   4.0
55746    702597_4       alive_alive   0.0   4.0
...           ...               ...   ...   ...
953724   764458_1           dead_NA   6.0   0.0
957911  1010926_1          alive_NA   0.0   3.0
957912  1010926_2          alive_NA   0.0   3.0
957913  1010926_3          alive_NA   0.0   3.0
957914  1010926_4          alive_NA   0.0   3.0

[184932 rows x 4 columns]

In [33]:
round(
    raw.query("idp in @idp_mort")[["def5"]].value_counts(dropna=False).sort_index()
    / len(idp_mort)
    * 100,
    2,
)

# round(
#     raw.query("campagne_1>2009 and campagne_1<2017")[["tree_state_change"]]
#     .value_counts(dropna=False)
#     .sort_index()
#     / len(idp_mort)
#     * 100,
#     2,
# )

def5
0.0     949.87
1.0       0.40
2.0       1.25
3.0       0.24
4.0       0.02
5.0       0.03
NaN     422.88
Name: count, dtype: float64

In [4]:
raw.query("idp in @idp_mort and tree_state_change == 'dead_cut'")["idp"].nunique()

1246

In [31]:
raw.query("idp in @idp_mort and dc_2 == 4")["tree_state_change"].value_counts(
    dropna=False
)

tree_state_change
alive_alive    47362
alive_cut       6955
dead_dead       2107
new_alive       1941
alive_dead      1869
dead_cut         959
dead_NA          138
alive_NA          39
dead_alive        14
new_dead           5
Name: count, dtype: int64

In [25]:
idp_mort = pd.read_csv("idp_mort.txt")
idp_mort = idp_mort.T.reset_index()["index"]

In [28]:
idp_mort = idp_mort.astype(int).tolist()

In [22]:
idp_mort = idp_mort.to_list()

In [24]:
idp_mort

['632691',
 ' 702597',
 ' 706240',
 ' 708321',
 ' 708369',
 ' 709385',
 ' 710767',
 ' 711712',
 ' 711896',
 ' 712948',
 ' 713058',
 ' 714193',
 ' 714910',
 ' 718137',
 ' 728213',
 ' 728420',
 ' 729433',
 ' 730688',
 ' 732021',
 ' 734024',
 ' 734911',
 ' 736469',
 ' 736756',
 ' 736866',
 ' 737498',
 ' 738122',
 ' 738254',
 ' 738277',
 ' 738591',
 ' 739056',
 ' 741957',
 ' 742464',
 ' 749738',
 ' 753864',
 ' 754199',
 ' 754575',
 ' 755387',
 ' 757085',
 ' 765884',
 ' 767248',
 ' 769165',
 ' 771335',
 ' 773215',
 ' 775051',
 ' 776632',
 ' 776711',
 ' 777287',
 ' 779132',
 ' 800280',
 ' 800570',
 ' 801068',
 ' 801675',
 ' 803153',
 ' 804065',
 ' 804724',
 ' 808964',
 ' 812769',
 ' 812822',
 ' 814391',
 ' 814931',
 ' 818182',
 ' 818221',
 ' 819701',
 ' 820608',
 ' 821717',
 ' 821857',
 ' 822336',
 ' 822810',
 ' 823841',
 ' 825853',
 ' 828947',
 ' 829937',
 ' 830448',
 ' 830669',
 ' 830817',
 ' 832460',
 ' 837618',
 ' 837839',
 ' 839250',
 ' 840258',
 ' 843230',
 ' 847135',
 ' 848433',
 ' 849215',
 ' 849537',
 ' 852054',
 ' 853198',
 ' 854285',
 ' 855561',
 ' 856732',
 ' 857883',
 ' 860768',
 ' 861281',
 ' 863468',
 ' 865160',
 ' 866382',
 ' 866713',
 ' 867353',
 ' 869411',
 ' 870868',
 ' 872423',
 ' 872795',
 ' 873302',
 ' 873485',
 ' 874995',
 ' 877885',
 ' 878704',
 ' 880256',
 ' 901151',
 ' 901603',
 ' 902094',
 ' 903980',
 ' 907285',
 ' 907818',
 ' 907910',
 ' 911559',
 ' 911991',
 ' 913642',
 ' 914943',
 ' 918059',
 ' 920301',
 ' 925237',
 ' 927082',
 ' 929499',
 ' 929948',
 ' 930199',
 ' 934741',
 ' 934939',
 ' 944206',
 ' 945496',
 ' 946315',
 ' 948522',
 ' 950644',
 ' 952749',
 ' 952852',
 ' 953343',
 ' 953556',
 ' 954673',
 ' 957100',
 ' 958748',
 ' 958842',
 ' 959462',
 ' 960478',
 ' 962187',
 ' 965156',
 ' 965699',
 ' 974196',
 ' 975444',
 ' 976521',
 ' 977385',
 ' 979605',
 ' 980009',
 ' 980192',
 ' 1001246',
 ' 1002255',
 ' 1002547',
 ' 1002765',
 ' 1004015',
 ' 1004035',
 ' 1004069',
 ' 1004251',
 ' 1005909',
 ' 1006858',
 ' 1007076',
 ' 1007824',
 ' 1009404',
 ' 1011659',
 ' 1012654',
 ' 1012785',
 ' 1014098',
 ' 1014257',
 ' 1014356',
 ' 1014595',
 ' 1014959',
 ' 1015070',
 ' 1015135',
 ' 1015674',
 ' 1018155',
 ' 1018999',
 ' 1019915',
 ' 1020637',
 ' 1020799',
 ' 1020919',
 ' 1021644',
 ' 1021667',
 ' 1023354',
 ' 1023716',
 ' 1024527',
 ' 1024555',
 ' 1025134',
 ' 1025484',
 ' 1026112',
 ' 1028340',
 ' 1028495',
 ' 1028762',
 ' 1028814',
 ' 1028910',
 ' 1029396',
 ' 1030210',
 ' 1030526',
 ' 1030824',
 ' 1030980',
 ' 1100220',
 ' 1101072',
 ' 1101990',
 ' 1102188',
 ' 1102195',
 ' 1103002',
 ' 1103203',
 ' 1104538',
 ' 1105088',
 ' 1105324',
 ' 1105790',
 ' 1106008',
 ' 1106110',
 ' 1106374',
 ' 1106473',
 ' 1106644',
 ' 1107553',
 ' 1108665',
 ' 1108743',
 ' 1108821',
 ' 1109042',
 ' 1109407',
 ' 1110045',
 ' 1110195',
 ' 1111274',
 ' 1111447',
 ' 1112481',
 ' 1112921',
 ' 1115800',
 ' 1116145',
 ' 1117264',
 ' 1117499',
 ' 1118183',
 ' 1118229',
 ' 1118601',
 ' 1118972',
 ' 1119182',
 ' 1119453',
 ' 1120756',
 ' 1121935',
 ' 1121952',
 ' 1122323',
 ' 1123443',
 ' 1123553',
 ' 1124116',
 ' 1124271',
 ' 1124541',
 ' 1125618',
 ' 1125945',
 ' 1126001',
 ' 1126465',
 ' 1126917',
 ' 1127018',
 ' 1128405',
 ' 1129048',
 ' 1129330',
 ' 1130044',
 ' 1131123',
 ' 500013',
 ' 500103',
 ' 500192',
 ' 500269',
 ' 500284',
 ' 500303',
 ' 500313',
 ' 500340',
 ' 500517',
 ' 500593',
 ' 500738',
 ' 500804',
 ' 500865',
 ' 501041',
 ' 501152',
 ' 501216',
 ' 501459',
 ' 501722',
 ' 501791',
 ' 501812',
 ' 501836',
 ' 501887',
 ' 501898',
 ' 501901',
 ' 501914',
 ' 501933',
 ' 501991',
 ' 502066',
 ' 502101',
 ' 502194',
 ' 502234',
 ' 502343',
 ' 502373',
 ' 502412',
 ' 502553',
 ' 502640',
 ' 503167',
 ' 503184',
 ' 503243',
 ' 503269',
 ' 503318',
 ' 503373',
 ' 503379',
 ' 503404',
 ' 503558',
 ' 503805',
 ' 503819',
 ' 503842',
 ' 503907',
 ' 503929',
 ' 503945',
 ' 503950',
 ' 504009',
 ' 504177',
 ' 504285',
 ' 504353',
 ' 504402',
 ' 504542',
 ' 504610',
 ' 504743',
 ' 504930',
 ' 504945',
 ' 505081',
 ' 505125',
 ' 505184',
 ' 505310',
 ' 505326',
 ' 505400',
 ' 505428',
 ' 505476',
 ' 505745',
 ' 505849',
 ' 505895',
 ' 505986',
 ' 505993',
 ' 506035',
 ' 506325',
 ' 506484',
 ' 506515',
 ' 506613',
 ' 506741',
 ' 506872',
 ' 506883',
 ' 507028',
 ' 507068',
 ' 507110',
 ' 507151',
 ' 507394',
 ' 507410',
 ' 507503',
 ' 507512',
 ' 507543',
 ' 507685',
 ' 507757',
 ' 507988',
 ' 508074',
 ' 508211',
 ' 508338',
 ' 508455',
 ' 508482',
 ' 508483',
 ' 508508',
 ' 508527',
 ' 508610',
 ' 508644',
 ' 508753',
 ' 508799',
 ' 508842',
 ' 508905',
 ' 508932',
 ' 508938',
 ' 508949',
 ' 509007',
 ' 509111',
 ' 509306',
 ' 509394',
 ' 509636',
 ' 509671',
 ' 509809',
 ' 509815',
 ' 509842',
 ' 510040',
 ' 510163',
 ' 510249',
 ' 510278',
 ' 510416',
 ' 510430',
 ' 510432',
 ' 510472',
 ' 510746',
 ' 510750',
 ' 510791',
 ' 510841',
 ' 510950',
 ' 511028',
 ' 511098',
 ' 511148',
 ' 511167',
 ' 511329',
 ' 511380',
 ' 511485',
 ' 511641',
 ' 511658',
 ' 511729',
 ' 511734',
 ' 511880',
 ' 512093',
 ' 512146',
 ' 512344',
 ' 512350',
 ' 513109',
 ' 513141',
 ' 513158',
 ' 513177',
 ' 513576',
 ' 513609',
 ' 513830',
 ' 513924',
 ' 513949',
 ' 514217',
 ' 514225',
 ' 514314',
 ' 514364',
 ' 514375',
 ' 514446',
 ' 514583',
 ' 514649',
 ' 514701',
 ' 514744',
 ' 514754',
 ' 514824',
 ' 514895',
 ' 515000',
 ' 515005',
 ' 515037',
 ' 515041',
 ' 515452',
 ' 515606',
 ' 515729',
 ' 516070',
 ' 516117',
 ' 516118',
 ' 516376',
 ' 516430',
 ' 516532',
 ' 516538',
 ' 516635',
 ' 517128',
 ' 517152',
 ' 517176',
 ' 517266',
 ' 517291',
 ' 517390',
 ' 517402',
 ' 517414',
 ' 517488',
 ' 517514',
 ' 517517',
 ' 517682',
 ' 517886',
 ' 518026',
 ' 518052',
 ' 518146',
 ' 518187',
 ' 518346',
 ' 518519',
 ' 518535',
 ' 518538',
 ' 518612',
 ' 518647',
 ' 518708',
 ' 518719',
 ' 518730',
 ' 518815',
 ' 518825',
 ' 518836',
 ' 518848',
 ' 518905',
 ' 519052',
 ' 519126',
 ' 519294',
 ' 519404',
 ' 519405',
 ' 519529',
 ' 519826',
 ' 519929',
 ' 520030',
 ' 520185',
 ' 520232',
 ' 520266',
 ' 520288',
 ' 520422',
 ' 520501',
 ' 520502',
 ' 520668',
 ' 520672',
 ' 520764',
 ' 520768',
 ' 520986',
 ' 521092',
 ' 521109',
 ' 521139',
 ' 521383',
 ' 521404',
 ' 521414',
 ' 521433',
 ' 521532',
 ' 521644',
 ' 521677',
 ' 521757',
 ' 521759',
 ' 521917',
 ' 521967',
 ' 522002',
 ' 522136',
 ' 522161',
 ' 522197',
 ' 522220',
 ' 522327',
 ' 522724',
 ' 522786',
 ' 522926',
 ' 522990',
 ' 523133',
 ' 523228',
 ' 523296',
 ' 523303',
 ' 523317',
 ' 523417',
 ' 523418',
 ' 523470',
 ' 523524',
 ' 523541',
 ' 523758',
 ' 523911',
 ' 523949',
 ' 523971',
 ' 524000',
 ' 524010',
 ' 524035',
 ' 524154',
 ' 524232',
 ' 524253',
 ' 524337',
 ' 524374',
 ' 524376',
 ' 524385',
 ' 524412',
 ' 524434',
 ' 524458',
 ' 524531',
 ' 524627',
 ' 524731',
 ' 524746',
 ' 524808',
 ' 524810',
 ' 524860',
 ' 524926',
 ' 524971',
 ' 525131',
 ' 525419',
 ' 525452',
 ' 525649',
 ' 525842',
 ' 525894',
 ' 525929',
 ' 525988',
 ' 526009',
 ' 526121',
 ' 526368',
 ' 526372',
 ' 526443',
 ' 526662',
 ' 526684',
 ' 526755',
 ' 526819',
 ' 526973',
 ' 526982',
 ' 526997',
 ' 527024',
 ' 527074',
 ' 527076',
 ' 527112',
 ' 527257',
 ' 527279',
 ' 527431',
 ' 527442',
 ' 527468',
 ' 527480',
 ' 527553',
 ' 528042',
 ' 528074',
 ' 528134',
 ' 528218',
 ' 528270',
 ' 528369',
 ' 528486',
 ' 528510',
 ' 528812',
 ' 528837',
 ' 528964',
 ' 528971',
 ' 529106',
 ' 529112',
 ' 529183',
 ' 529253',
 ' 529255',
 ' 529469',
 ' 529491',
 ' 529504',
 ' 529539',
 ' 529583',
 ' 529590',
 ' 529736',
 ' 529895',
 ' 529962',
 ' 529963',
 ' 530130',
 ' 530209',
 ' 530269',
 ' 530281',
 ' 530285',
 ' 530328',
 ' 530351',
 ' 530367',
 ' 530544',
 ' 530627',
 ' 530724',
 ' 530806',
 ' 530866',
 ' 530964',
 ' 531170',
 ' 531247',
 ' 531350',
 ' 531557',
 ' 531581',
 ' 531720',
 ' 531722',
 ' 531778',
 ' 531868',
 ' 532071',
 ' 532092',
 ' 532243',
 ' 532411',
 ' 532573',
 ' 532675',
 ' 532983',
 ' 533085',
 ' 533131',
 ' 533305',
 ' 533445',
 ' 533540',
 ' 533588',
 ' 533615',
 ' 533853',
 ' 533955',
 ' 533990',
 ' 534012',
 ' 534056',
 ' 534138',
 ' 534278',
 ' 534381',
 ' 534416',
 ' 534643',
 ' 534772',
 ' 534776',
 ' 534865',
 ' 534881',
 ' 534891',
 ' 535057',
 ' 535082',
 ' 535142',
 ' 535184',
 ' 535239',
 ' 535326',
 ' 535463',
 ' 535497',
 ' 535643',
 ' 535946',
 ' 536040',
 ' 536050',
 ' 536231',
 ' 536293',
 ' 536307',
 ' 536407',
 ' 536441',
 ' 536533',
 ' 536605',
 ' 536703',
 ' 536819',
 ' 536970',
 ' 537015',
 ' 537035',
 ' 537385',
 ' 537644',
 ' 537665',
 ' 537706',
 ' 537778',
 ' 537891',
 ' 537895',
 ' 537920',
 ' 538225',
 ' 538366',
 ' 538569',
 ' 538580',
 ' 538850',
 ' 538964',
 ' 539125',
 ' 539136',
 ' 539157',
 ' 539183',
 ' 539202',
 ' 539313',
 ' 539336',
 ' 539430',
 ' 539544',
 ' 539752',
 ' 539766',
 ' 539774',
 ' 539944',
 ' 539963',
 ' 540080',
 ' 540169',
 ' 540190',
 ' 540194',
 ' 540236',
 ' 540269',
 ' 540364',
 ' 540558',
 ' 540727',
 ' 541002',
 ' 541114',
 ' 541262',
 ' 541396',
 ' 541434',
 ' 541491',
 ' 541492',
 ' 541495',
 ' 541626',
 ' 541707',
 ' 541859',
 ' 541921',
 ' 541933',
 ' 542178',
 ' 542188',
 ' 542236',
 ' 542255',
 ' 542260',
 ' 542268',
 ' 542350',
 ' 542397',
 ' 542438',
 ' 542451',
 ' 542494',
 ' 542659',
 ' 542664',
 ' 542889',
 ' 542899',
 ' 542923',
 ' 542967',
 ' 543042',
 ' 543233',
 ' 543282',
 ' 543311',
 ' 543358',
 ' 543498',
 ' 543527',
 ' 543553',
 ' 543556',
 ' 543583',
 ' 543618',
 ' 543665',
 ' 543736',
 ' 543781',
 ' 543787',
 ' 543826',
 ' 544042',
 ' 544064',
 ' 544153',
 ' 544171',
 ' 544199',
 ' 544238',
 ' 544256',
 ' 544358',
 ' 544490',
 ' 544541',
 ' 544622',
 ' 544718',
 ' 544851',
 ' 544875',
 ' 544976',
 ' 545080',
 ' 545163',
 ' 545170',
 ' 545339',
 ' 545380',
 ' 545408',
 ' 545447',
 ' 545499',
 ' 545532',
 ' 545569',
 ' 545624',
 ' 545720',
 ' 545768',
 ' 545776',
 ' 545854',
 ' 545860',
 ' 545880',
 ' 545969',
 ' 546089',
 ' 546157',
 ' 546229',
 ' 546317',
 ' 546336',
 ' 546340',
 ' 546515',
 ' 546788',
 ' 546924',
 ' 547071',
 ' 547072',
 ' 547465',
 ' 547500',
 ' 547591',
 ' 547694',
 ' 547821',
 ' 547871',
 ' 547889',
 ' 548163',
 ' 548223',
 ' 548362',
 ' 548383',
 ' 548444',
 ' 548451',
 ' 548639',
 ' 548707',
 ' 548964',
 ' 548979',
 ' 548988',
 ' 549017',
 ' 549035',
 ' 549108',
 ' 549111',
 ' 549144',
 ' 549173',
 ' 549176',
 ' 549231',
 ' 549322',
 ' 549459',
 ' 549519',
 ' 549540',
 ' 549577',
 ' 549588',
 ' 549618',
 ' 549632',
 ' 549733',
 ' 549763',
 ' 549993',
 ' 550281',
 ' 550390',
 ' 550574',
 ' 550721',
 ' 550765',
 ' 550874',
 ' 550908',
 ' 550939',
 ' 551112',
 ' 551141',
 ' 551145',
 ' 551161',
 ' 551219',
 ' 551263',
 ' 551374',
 ' 551435',
 ' 551505',
 ' 551571',
 ' 551646',
 ' 551677',
 ' 551752',
 ' 551811',
 ' 551930',
 ' 551969',
 ' 552034',
 ' 552181',
 ' 552282',
 ' 552354',
 ' 552726',
 ' 552819',
 ' 552892',
 ' 553097',
 ' 553373',
 ' 553453',
 ' 553508',
 ' 553819',
 ' 553881',
 ' 553934',
 ' 554006',
 ' 554104',
 ' 554333',
 ' 554521',
 ' 554559',
 ' 554627',
 ' 554794',
 ' 554801',
 ' 554836',
 ' 554840',
 ' 554878',
 ' 554897',
 ' 555109',
 ' 555124',
 ' 555134',
 ' 555238',
 ' 555258',
 ' 555671',
 ' 555712',
 ' 555718',
 ' 555752',
 ' 555885',
 ' 555937',
 ' 556012',
 ' 556230',
 ' 556390',
 ' 556396',
 ' 556701',
 ' 556742',
 ' 556816',
 ' 556933',
 ' 556957',
 ' 556988',
 ' 557017',
 ' 557066',
 ' 557124',
 ' 557255',
 ' 557263',
 ' 557271',
 ' 557414',
 ' 557431',
 ' 557465',
 ' 557541',
 ' 557562',
 ' 557643',
 ' 557734',
 ' 557795',
 ' 557804',
 ' 557862',
 ' 557998',
 ' 558104',
 ' 558178',
 ' 558335',
 ' 558607',
 ' 558617',
 ' 558756',
 ' 558847',
 ' 558878',
 ' 558892',
 ' 559002',
 ' 559120',
 ' 559335',
 ' 559393',
 ' 559429',
 ' 559499',
 ' 559592',
 ' 559598',
 ' 559657',
 ' 559701',
 ' 559812',
 ' 559837',
 ' 559904',
 ' 559912',
 ' 559937',
 ' 560189',
 ' 560240',
 ' 560289',
 ' 560345',
 ' 560498',
 ' 560697',
 ' 560816',
 ' 560977',
 ' 561064',
 ' 561171',
 ' 561235',
 ' 561323',
 ' 561361',
 ' 561381',
 ' 561595',
 ' 561622',
 ' 561763',
 ' 561766',
 ' 561881',
 ' 561934',
 ' 562076',
 ' 562134',
 ' 562268',
 ' 562349',
 ' 562530',
 ' 562533',
 ' 562545',
 ' 562694',
 ' 562753',
 ' 562858',
 ' 562986',
 ...]

In [36]:
# From what years are prelev5 data from?
raw[["campagne_1", "prelev5"]].value_counts(dropna=False).sort_index()

campagne_1  prelev5
2005        1.0         9879
            NaN        60561
2006        0.0          363
            1.0        10687
            2.0           27
            NaN        60969
2007        1.0        10445
            NaN        67406
2008        1.0         8514
            NaN        73481
2009        1.0        11483
            NaN        70242
2010        NaN        88576
2011        NaN        88090
2012        NaN        90723
2013        NaN        82736
2014        NaN        76938
2015        NaN        74902
2016        NaN        73919
2017        NaN        69466
2018        NaN        71033
2019        NaN        70077
2020        NaN        73772
2021        NaN        74111
Name: count, dtype: int64

In [38]:
raw.query("idp in @idp_mort")[["dc_2", "tree_state_change"]].value_counts(
    dropna=False
).sort_index()

dc_2  tree_state_change
0.0   alive_NA                295
      alive_alive          366476
      alive_cut                 5
      alive_dead            18633
      dead_NA                 643
      dead_alive              204
      dead_cut                 20
      dead_dead             27230
      new_alive             18838
      new_dead                140
1.0   alive_alive             235
      alive_cut              1306
      alive_dead               12
      dead_NA                   5
      dead_cut                125
      dead_dead                 7
      new_alive               136
      new_dead                  2
2.0   alive_NA                 16
      alive_alive            1959
      alive_cut              3525
      alive_dead              138
      dead_NA                  11
      dead_cut                417
      dead_dead               117
      new_alive               169
3.0   alive_NA                 47
      alive_alive           30411
      alive_cut             13193
      alive_dead             1060
      dead_NA                 169
      dead_alive                8
      dead_cut                909
      dead_dead              1193
      new_alive              1134
      new_dead                  5
4.0   alive_NA                 39
      alive_alive           47362
      alive_cut              6955
      alive_dead             1869
      dead_NA                 138
      dead_alive               14
      dead_cut                959
      dead_dead              2107
      new_alive              1941
      new_dead                  5
Name: count, dtype: int64

In [41]:
round(
    raw.query("idp in @idp_mort").groupby("dc_2").agg({"site_ba_prc_cut_at_v2": "mean"})
    * 100,
    2,
)

      site_ba_prc_cut_at_v2
dc_2
0.0                    0.00
1.0                   53.28
2.0                   48.20
3.0                   19.42
4.0                    6.84

In [43]:
round(
    raw.query("campagne_1>2009 and campagne_1 < 2017")
    .groupby("dc_2")
    .agg({"site_ba_prc_cut_at_v2": "mean"})
    * 100,
    2,
)

      site_ba_prc_cut_at_v2
dc_2
0.0                    0.00
1.0                   91.08
2.0                   56.74
3.0                   20.02
4.0                    6.96