In [1]:
import pandas as pd

In [12]:
nfi_data = pd.read_csv("./20231108-211512_nfi_dataset_for_analysis copy.csv")

/var/folders/39/534x_msj7sl1kcxj2mg109x40000gn/T/ipykernel_1928/3106151714.py:1: DtypeWarning: Columns (51,58,61,73,74,75,88,89,90,91,106,107,112,113,115,119,125,127,156) have mixed types. Specify dtype option on import or set low_memory=False.
  nfi_data = pd.read_csv("./20231108-211512_nfi_dataset_for_analysis copy.csv")

In [6]:
nfi_data = (
    nfi_data[["idp", "visit_1", "lat", "lon"]]
    .rename({"visit_1": "first_year", "lon": "x", "lat": "y"}, axis=1)
    .drop_duplicates()
    reset_index(drop=False).rename(columns={"index": "rownumber"})
)

In [7]:
nfi_data.to_csv("./nfi_final_sites.csv", index=False)

In [21]:
(
    nfi_data[["idp", "visit_1", "lat", "lon"]]
    .rename({"visit_1": "first_year", "lon": "x", "lat": "y"}, axis=1)
    .drop_duplicates()
    .reset_index(drop=True)
    .reset_index(drop=False)
    .rename(columns={"index": "SiteID"})
)

       SiteID      idp  first_year          y         x
0           0   632691        2011  48.337505 -2.842824
1           1   702597        2012  46.198025  3.349757
2           2   706240        2012  46.827747  3.361577
3           3   708321        2012  48.201563  0.402182
4           4   708369        2012  43.281648  6.461081
...       ...      ...         ...        ...       ...
38691   38691  1131409        2016  42.686748  2.156438
38692   38692  1131410        2016  47.899971  7.424664
38693   38693  1131419        2016  48.851908 -3.221877
38694   38694  1131424        2016  44.924973  3.757202
38695   38695  1131437        2016  46.998179  3.417427

[38696 rows x 5 columns]